// --------------------- background color -----------------------
$bg-color-1st: #EBFAFF;
$bg-color-2nd: #F8F4FF;
$bg-color-3rd: #FFF2F2;
$bg-color-4th: #F7F7FF;
$bg-color-5th: #EFFFF9;
$bg-color-6th: transparent linear-gradient(190deg, #501769 0%, #382780 100%) 0% 0%
no-repeat padding-box;
$bg-color-7th: #FFFFFF;
$bg-color-8th: transparent linear-gradient(259deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
$bg-color-9th: transparent linear-gradient(237deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
$bg-color-10th: #E8E8E8;
