// ---------------- dots background color ----------------------
$dot-bg-color-1: #FF6C7D;
$dot-bg-color-2: #FD57C2;
$dot-bg-color-3: #3B4AFB;
$dot-bg-color-4: #27CF2B;
$dot-bg-color-5: #41A534;
$dot-bg-color-6: #FF813E;
$dot-bg-color-7: #3941FF;
$dot-bg-color-8: #14D114;
$dot-bg-color-9: #FF52C3;
$dot-bg-color-10: #B24AFF;
