// ----------------- colors ---------------------------------
$color-1st: #FFFFFF;
$color-2nd: #ADA9BF;
$color-3rd: #2B2838;
$color-4th: #3F2985;
$color-5th: #BBB7CD;
$color-6th: #A49FBC;
$color-7th: #89899F;
$color-8th:#473D44;
$color-9th: #B5B5B5;
$color-10th: #ADA9BD;
$color-11th:#292836;
$color-12th: #ADA9BE;
$color-13th: #7E8FA0;


//--------------------- background color -----------------------
$bg-color-1st: #EBFAFF;
$bg-color-2nd: #F8F4FF;
$bg-color-3rd: #FFF2F2;
$bg-color-4th: #F7F7FF;
$bg-color-5th: #EFFFF9;
$bg-color-6th: transparent linear-gradient(190deg, #501769 0%, #382780 100%) 0% 0%
no-repeat padding-box;
$bg-color-7th: #FFFFFF;
$bg-color-8th: transparent linear-gradient(259deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
$bg-color-9th: transparent linear-gradient(237deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
$bg-color-10th: #E8E8E8;

//---------------- font size ---------------------------------
$font-size-1: 8px;
$font-size-2: 10px;
$font-size-3: 12px;
$font-size-4: 13px;
$font-size-5: 14px;
$font-size-6: 16px;
$font-size-7: 30px;

// ---------------- dots background color ----------------------
$dot-bg-color-1: #FF6C7D;
$dot-bg-color-2: #FD57C2;
$dot-bg-color-3: #3B4AFB;
$dot-bg-color-4: #27CF2B;
$dot-bg-color-5: #41A534;
$dot-bg-color-6: #FF813E;
$dot-bg-color-7: #3941FF;
$dot-bg-color-8: #14D114;
$dot-bg-color-9: #FF52C3;
$dot-bg-color-10: #B24AFF;



