// ----------------- colors ---------------------------------
$color-1st: #FFFFFF;
$color-2nd: #ADA9BF;
$color-3rd: #2B2838;
$color-4th: #3F2985;
$color-5th: #BBB7CD;
$color-6th: #A49FBC;
$color-7th: #89899F;
$color-8th:#473D44;
$color-9th: #B5B5B5;
$color-10th: #ADA9BD;
$color-11th:#292836;
$color-12th: #ADA9BE;
$color-13th: #7E8FA0;
